<div class="block pb-4 mx-auto justify-center text-center items-center">
  <button routerLink=".." class="flex md:w-1/6 w-1/2 pb-4 mx-auto hover:scale-[1.03] duration-200">
    <img class="object-contain w-full h-full rounded-xl shadow-md" src="https://image.tmdb.org/t/p/w200/{{tvDetailsData.poster_path}}">
  </button>
  <div class="flex pb-4 justify-center items-center text-3xl font-bold">
    {{tvDetailsData.name}}
  </div>
</div>
<div class="block md:p-8 p-4 bg-white rounded-xl shadow-md">
  <div class="md:flex block justify-between">
    <div class="md:text-3xl text-2xl">Obsada i twórcy</div>
    <div class="md:flex md:pt-0 pt-4 gap-4 grid grid-cols-2 items-center">
      <button (click)="setFilter('all')" class="px-4 py-2 md:text-lg text-sm bg-teal-300 hover:scale-[1.03] duration-200 rounded-full shadow-md">
        Wszystko
      </button>
      <button (click)="setFilter('cast')" class="px-4 py-2 md:text-lg text-base bg-teal-300 hover:scale-[1.03] duration-200 rounded-full shadow-md">
        Obsada
      </button>
      <button (click)="setFilter('crew')" class="px-4 py-2 md:text-lg text-base bg-teal-300 hover:scale-[1.03] duration-200 rounded-full shadow-md">
        Twórcy
      </button>
    </div>
  </div>
  <div *ngIf="creditsFilter == 'all' || creditsFilter == 'cast'">
    <div class="pt-4 text-2xl">Obsada</div>  
    <div class="grid md:grid-cols-6 grid-cols-2 md:gap-4">
      <div *ngFor="let cast of tvCreditsData.cast" class="block m-2 bg-gray-100 hover:scale-[1.03] duration-200 rounded-xl shadow-md">
        <button routerLink="/person/{{cast.id}}">
          <img class="rounded-t-xl" src="https://image.tmdb.org/t/p/w200/{{cast.profile_path}}" onerror="this.src='assets/images/person_blank.png';">      
          <div class="block p-2 text-center">
            <div class="text-base font-bold overflow">{{cast.name}}</div>
            <div class="text-sm py-2 line-clamp-2">{{cast.roles[0].character}}</div>
            <div class="text-sm">Odcinki: {{cast.roles[0].episode_count}}</div>
          </div>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="creditsFilter == 'all' || creditsFilter == 'crew'">
    <div class="pt-4 text-2xl">Twórcy</div>
    <div class="grid md:grid-cols-6 grid-cols-2 md:gap-4">
      <div *ngFor="let crew of tvCreditsData.crew" class="block m-2 bg-gray-100 hover:scale-[1.03] duration-200 rounded-xl shadow-md">
        <button routerLink="/person/{{crew.id}}">
          <img class="rounded-t-xl" src="https://image.tmdb.org/t/p/w200/{{crew.profile_path}}" onerror="this.src='assets/images/person_blank.png';">     
          <div class="block p-2 text-center">
            <div class="text-base font-bold overflow">{{crew.name}}</div>
            <div class="text-sm py-2 line-clamp-2">{{crew.jobs[0].job}}</div>
            <div class="text-sm">Odcinki: {{crew.jobs[0].episode_count}}</div>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>