<div class="pointer-events-none absolute top-0 left-0 w-full h-full">
  <div class="pointer-events-auto md:w-1/5 md:h-full bg-gray-100 rounded-r-xl shadow-md">
    <div class="block pt-24 px-4 h-1/2">
      <button routerLink="../details">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
        </svg>
      </button>
      <div class="flex justify-center items-center text-2xl font-bold">
        Dodaj lokacje
      </div>
      <div class="flex w-full h-16 mt-4 p-2 items-center bg-white rounded-xl shadow-md">
        <p>Nazwa</p>
        <input class="mx-2 my-2 w-full h-full bg-gray-100 focus:outline-none rounded-xl" type="text"/>
      </div>
      <div class="flex w-full h-16 mt-4 p-2 items-center bg-white rounded-xl shadow-md">
        <p>Czas wystąpienia</p>
        <input class="mx-2 my-2 w-full h-full bg-gray-100 focus:outline-none rounded-xl" type="text"/>
      </div>
      <div class="flex w-full h-16 mt-4 p-2 items-center bg-white rounded-xl shadow-md">
        <p>Odcinek</p>
        <input class="mx-2 my-2 w-full h-full bg-gray-100 focus:outline-none rounded-xl" type="text" placeholder="Opcjonalne" />
      </div>
      <div class="flex w-full h-16 mt-4 p-2 items-center bg-white rounded-xl shadow-md">
        <p>Opis</p>
        <input class="mx-2 my-2 w-full h-full bg-gray-100 focus:outline-none rounded-xl" type="text" placeholder="Opcjonalne"/>
      </div>
      <div class="flex gap-4 mt-4">
        <button class="flex w-full h-16 justify-center items-center bg-teal-300 rounded-xl shadow-md">
          <b>Załącz zdjęcie</b>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
            <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 0 1 2.25-2.25h16.5A2.25 2.25 0 0 1 22.5 6v12a2.25 2.25 0 0 1-2.25 2.25H3.75A2.25 2.25 0 0 1 1.5 18V6ZM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0 0 21 18v-1.94l-2.69-2.689a1.5 1.5 0 0 0-2.12 0l-.88.879.97.97a.75.75 0 1 1-1.06 1.06l-5.16-5.159a1.5 1.5 0 0 0-2.12 0L3 16.061Zm10.125-7.81a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Z" clip-rule="evenodd" />
          </svg>                         
        </button>
        <button (click)="markLocation()" class="flex w-full h-16 justify-center items-center bg-teal-300 rounded-xl shadow-md">
          <b>Zaznacz lokacje</b>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
            <path fill-rule="evenodd" d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd" />
          </svg>                        
        </button>
      </div> 
      <button class="flex w-full h-16 mt-4 justify-center items-center bg-teal-300 rounded-xl shadow-md">
        <b>Dodaj</b>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" data-slot="icon" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>        
      </button>
    </div>
  </div>
</div>  