<!--Map section-->
<div class="font-poppins">
  <div class="pb-4 md:text-3xl text-2xl">
    Lokacje z filmu
  </div>
  <div class="md:flex justify-center bg-gray-100 rounded-xl shadow-md">
    <div class="md:p-4">
      <img class="object-contain rounded-xl shadow-md" src="../../assets/images/map.jpg">
    </div>  
    <div class="md:w-1/4 w-2/4 mx-auto">

      <a href="#">
        <div class="p-8 h-5/6">
            <img class="object-contain rounded-xl hover:scale-105 duration-200 shadow-md" src="../../assets/images/barbie.jpg">
        </div>
      </a>
      <div class="block h-1/6 text-center">
        <div class="flex h-1/2 justify-center items-center text-2xl font-bold">
          Barbie (2023)
        </div>
        <div class="h-1/2 pb-4 text-sm">
          reż. Greta Gerwig
        </div>
      </div>
    </div>
  </div>
</div>