<app-user-panel></app-user-panel>
<div class="md:p-8 p-2 bg-gray-100 rounded-xl shadow-md">
  <div class="flex md:p-8 p-2 bg-white rounded-xl shadow-md justify-around">
    <button 
      class="p-4 text-lg bg-teal-300 hover:scale-105 duration-200 rounded-full shadow-md">
      Aktywność
    </button>
    <button 
      class="p-4 text-lg bg-teal-300 hover:scale-105 duration-200 rounded-full shadow-md" routerLink="reviewlist">
      Moje oceny
    </button>
    <button 
      class="p-4 text-lg bg-teal-300 hover:scale-105 duration-200 rounded-full shadow-md">
      Ulubione
    </button>
    <button 
      class="p-4 text-lg bg-teal-300 hover:scale-105 duration-200 rounded-full shadow-md">
      Chce zobaczyć
    </button>
  </div>
</div>