<div class="flex w-full h-full">
  <div *ngIf="mapDetails" class="pointer-events-auto w-1/3 bg-gray-100">
    <div class="flex-none pt-4 pb-4 px-4">
      <button *ngIf="mapDetails.name" routerLink="/tv/{{mapDetails.id}}" class="flex mx-auto w-1/3 hover:scale-[1.03] duration-200">
        <img class="object-contain rounded-xl shadow-md" src="https://image.tmdb.org/t/p/w200/{{mapDetails.poster_path}}" onerror="this.src='assets/images/media_blank.png';">
      </button>
      <button *ngIf="mapDetails.title" routerLink="/movie/{{mapDetails.id}}" class="flex mx-auto w-1/3 hover:scale-[1.03] duration-200">
        <img class="object-contain rounded-xl shadow-md" src="https://image.tmdb.org/t/p/w200/{{mapDetails.poster_path}}" onerror="this.src='assets/images/media_blank.png';">
      </button>
      <div class="flex pt-4 justify-center items-center text-2xl text-center font-bold">
        {{mapDetails.name}}{{mapDetails.title}}
      </div>
    </div>
    <ul class="flex-1 overflow-y-auto h-[24rem]">
      <li *ngIf="!mapDetails.mapData || (mapDetails.mapData && mapDetails.mapData.length <= 0)" class="text-center">
        Brak dostępnych lokacji
      </li>
      <li *ngFor="let location of mapDetails.mapData; index as i" (click)="focusOnLocation(location)" class="min-h-80 mb-4 mx-4 p-4 overflow-hidden bg-white hover:scale-[1.02] duration-200 cursor-pointer rounded-xl shadow-md ">
        <div class="flex justify-between">
          <div class="text-xl font-bold">{{location.name}}</div>
        </div>
        <div class="flex justify-between">
          <div *ngIf="location.runtime != '' && location.runtime">Czas: {{location.runtime}}</div>
          <div *ngIf="location.episode != '' && location.episode">Odcinek: {{location.episode}}</div>
        </div>
        <div *ngIf="location.description != '' && location.description" class="pt-4">{{location.description}}</div>
        <button *ngIf="location.image != ''" class="mt-4 max-h-52 mx-auto">
          <img class="object-contain rounded-xl shadow-md" src="{{location.image}}" onerror="this.src='assets/images/media_blank.png';">
        </button>
      </li>
    </ul>
</div>
  <div #map id="map" class="z-0 w-2/3 inset-0"></div>
</div>
