<div class="font-poppins">
  <div class="mx-auto md:w-1/3 md:p-8 p-2 bg-gray-100 rounded-xl shadow-md">
    <div *ngIf="authForm =='login'" class="h-full grid gap-8 grid-cols-1 p-8 bg-white rounded-xl shadow-md">
      <div class="text-2xl text-center">Logowanie</div>
      <div class="flex items-center h-10 bg-gray-100 rounded-full shadow-sm">
        <input [(ngModel)]=email #search type="text" class="w-full mx-3 bg-gray-100 focus:outline-none" placeholder="Email">
      </div>
      <div class="flex items-center h-10 bg-gray-100 fill-gray-100 rounded-full shadow-sm">
        <input [(ngModel)]=password #search type="password" class="w-full mx-3 bg-gray-100 focus:outline-none" placeholder="Hasło">
      </div>
      <div class="text-right">
        Zapomniałem hasła 
      </div>
      <button (click)="login()" class="flex p-2 items-center justify-center text-lg bg-teal-300 hover:bg-teal-400 hover:scale-105 duration-200 rounded-full shadow-md">
        Zaloguj
      </button>
      <button (click)="loginViaGoogle()" class="flex p-2 items-center justify-center text-lg bg-teal-300 hover:bg-teal-400 hover:scale-105 duration-200 rounded-full shadow-md">
        Zaloguj się przez Google
      </button>
      <div class="text-center">
        lub 
      </div>
      <button (click)="changeCurrentForm('signup')" class="flex p-2 items-center justify-center text-lg bg-teal-300 hover:bg-teal-400 hover:scale-105 duration-200 rounded-full shadow-md">
        Utwórz konto
      </button>
    </div>
    <div *ngIf="authForm =='signup'" class="h-full grid gap-8 grid-cols-1 p-8 bg-white rounded-xl shadow-md">
      <div class="text-2xl text-center">Rejestracja</div>
      <div class="flex items-center h-10 bg-gray-100 rounded-full shadow-sm">
        <input [(ngModel)]=nickname #search type="text" class="w-full mx-3 bg-gray-100 focus:outline-none" placeholder="Nazwa użytkownika">
      </div>
      <div class="flex items-center h-10 bg-gray-100 rounded-full shadow-sm">
        <input [(ngModel)]=email #search type="text" class="w-full mx-3 bg-gray-100 focus:outline-none" placeholder="Email">
      </div>
      <div class="flex items-center h-10 bg-gray-100 fill-gray-100 rounded-full shadow-sm">
        <input [(ngModel)]=password #search type="password" class="w-full mx-3 bg-gray-100 focus:outline-none" placeholder="Hasło">
      </div>
      <div class="flex items-center h-10 bg-gray-100 fill-gray-100 rounded-full shadow-sm">
        <input [(ngModel)]=confirmedPassword #search type="password" class="w-full mx-3 bg-gray-100 focus:outline-none" placeholder="Powtórz hasło">
      </div>
      <button (click)="signup" class="flex p-2 items-center justify-center text-lg bg-teal-300 hover:bg-teal-400 hover:scale-105 duration-200 rounded-full shadow-md">
        Zarejestruj się
      </button>
      <button (click)="changeCurrentForm('singupgoogle')" class="flex p-2 items-center justify-center text-lg bg-teal-300 hover:bg-teal-400 hover:scale-105 duration-200 rounded-full shadow-md">
        Zarejestruj się przez Google
      </button>
      <div class="text-center">
        lub 
      </div>
      <button (click)="changeCurrentForm('login')" class="p-2 items-center justify-center text-lg bg-teal-300 hover:bg-teal-400 hover:scale-105 duration-200 rounded-full shadow-md">
        Mam już konto
      </button>
    </div>
    <div *ngIf="authForm =='singupgoogle'" class="h-full grid gap-8 grid-cols-1 p-8 bg-white rounded-xl shadow-md">
      <div class="text-2xl text-center">Rejestracja przez Google</div>
      <div class="flex items-center h-10 bg-gray-100 rounded-full shadow-sm">
        <input [(ngModel)]=nickname #search type="text" class="w-full mx-3 bg-gray-100 focus:outline-none" placeholder="Nazwa użytkownika">
      </div>
      <button (click)="signupViaGoogle()" class="flex p-2 items-center justify-center text-lg bg-teal-300 hover:bg-teal-400 hover:scale-105 duration-200 rounded-full shadow-md">
        Zarejestruj się
      </button>
      <div class="text-center">
        lub 
      </div>
      <button (click)="changeCurrentForm('login')" class="p-2 items-center justify-center text-lg bg-teal-300 hover:bg-teal-400 hover:scale-105 duration-200 rounded-full shadow-md">
        Mam już konto
      </button>
    </div>
  </div>
</div>