<div id="popup" #popup class="w-80 p-2 bg-white bg-opacity-80 rounded-xl shadow-md">
  <div class="flex justify-end">
    <button id="popup-closer" >
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>
    </button>   
  </div>
  <div *ngIf="mapDetails">
    <button routerLink="/map{{mediaPath}}/details" class="flex mx-auto justify-center">
      <img class="object-contain mx-auto w-20 rounded-xl hover:scale-105 duration-200 shadow-md" src="https://image.tmdb.org/t/p/w200/{{mapDetails.poster_path}}" onerror="this.src='assets/images/movie_blank.png';">
    </button>
    <div class="flex justify-center items-center text-center text-xl font-bold">
      {{mapDetails.name}}{{mapDetails.title}}
    </div>
    <div class="text-lg pt-4">
      {{mapDetails.mapData[0].name}}
    </div>
    <div *ngIf="mapDetails.mapData[0].description != '' && mapDetails.mapData[0].description !='undefined'">{{mapDetails.mapData[0].description}}</div>
    <img *ngIf="mapDetails.mapData[0].image != ''" class="object-contain h-40 mx-auto rounded-xl shadow-md" [src]="mapDetails.mapData[0].image" onerror="this.src='assets/images/movie_blank.png';">
  </div>
</div>