<div class="absolute md:top-24 top-16 left-4 z-10 items-center gap-4">
  <div class="flex items-center gap-4">
  <button (click)="filterLocations('multi')" class="px-4 py-2 md:text-lg text-sm bg-teal-300 hover:scale-[1.03] duration-200 rounded-full shadow-md">
    Wszystko
  </button>
  <button (click)="filterLocations('movie')" class="px-4 py-2 md:text-lg text-sm bg-teal-300 hover:scale-[1.03] duration-200 rounded-full shadow-md">
    Filmy
  </button>
  <button (click)="filterLocations('tv')" class="px-4 py-2 md:text-lg text-sm bg-teal-300 hover:scale-[1.03] duration-200 rounded-full shadow-md">
    Seriale
  </button>
  </div>
</div>
<div id="popup" class="w-80 p-4 bg-white bg-opacity-80 rounded-xl shadow-md">
  <div class="flex justify-end">
    <button (click)="closeOverlay()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>
    </button>   
  </div>
  <div *ngIf="mapDetails">
    <button routerLink="/map{{mediaPath}}/details" class="flex mx-auto justify-center">
      <img class="object-contain mx-auto w-20 rounded-xl hover:scale-[1.03] duration-200 shadow-md" src="https://image.tmdb.org/t/p/w200/{{mapDetails.poster_path}}" onerror="this.src='assets/images/media_blank.png';">
    </button>
    <div class="flex justify-center items-center text-center text-xl font-bold">
      {{mapDetails.name}}{{mapDetails.title}}
    </div>
    <div class="text-lg pt-4">
      {{mapDetails.mapData[0].name}}
    </div>
    <div *ngIf="mapDetails.mapData[0].description != '' && mapDetails.mapData[0].description !='undefined'">{{mapDetails.mapData[0].description}}</div>
    <button (click)="lightboxControl(true)" class="mt-4 max-h-52 mx-auto">
      <img *ngIf="mapDetails.mapData[0].image != ''" class="object-contain rounded-xl shadow-md" [src]="mapDetails.mapData[0].image" onerror="this.src='assets/images/media_blank.png';">
    </button>
  </div>
</div>
<div *ngIf="isLightboxEnabled" class="fixed h-screen w-screen top-0 left-0 z-50 flex items-center bg-black bg-opacity-90">
  <button (click)="lightboxControl(false)" class="absolute top-2 right-2">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-white w-16 h-16">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
    </svg>  
  </button>
  <div class="flex w-full h-2/3 justify-center">
    <img class="md:h-auto md:max-h-none max-h-52 md:my-0 my-auto object-cover rounded-xl" src="{{lightboxImage}}" onerror="this.src='assets/images/media_blank.png';">
  </div>
</div>