<!--Map section-->
<div class="pb-32 font-poppins">
  <div class="pb-4 md:text-3xl text-2xl">
    Lokacje z filmu
  </div>
  <div class="md:flex justify-center bg-gray-100 rounded-xl shadow-md">
    <div class="md:p-8">
      <img class="object-contain rounded-xl shadow-md" src="../../assets/images/map.jpg">
    </div>  
    <div class="block md:w-1/4 w-4/6 m-auto">
      <a routerLink="movie/346698">
        <div class="p-8">
          <img class="object-contain rounded-xl hover:scale-105 duration-200 shadow-md" src="../../assets/images/barbie.jpg">
        </div>
      </a>
      <div class="block h-1/6 text-center">
        <div class="flex h-1/2 justify-center items-center text-3xl font-bold">
          Barbie
        </div>
        <div class="h-1/2 pb-4 text-sm">
          reż. Greta Gerwig
        </div>
      </div>
    </div>
  </div>
</div>
<!--List section-->
<div class="font-poppins pb-12">
  <div class="pb-4 md:text-3xl text-2xl">
    Wyróżnione
  </div>
  <div class="md:flex justify-center bg-gray-100 rounded-xl shadow-md">
    <div class="block md:w-2/5 md:p-8">
      <div class="flex h-4/6">
        <div class="flex w-1/6 justify-center items-center">
          <div class="flex md:w-12 md:h-12 w-8 h-8 bg-teal-300 hover:bg-teal-400 hover:scale-110 justify-center items-center text-2xl rounded-full duration-200">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
            </svg>                   
          </div>
        </div>
        <div class="flex md:w-3/4 w-4/6">
          <a routerLink="movie">
            <div class="flex h-full p-8 justify-center items-center">
              <img class="object-contain rounded-xl hover:scale-105 duration-200 shadow-md" src="../../assets/images/oppenheimer.jpg">
            </div>
          </a>
        </div>
        <div class="flex w-1/6 justify-center items-center">
          <div class="flex md:w-12 md:h-12 w-8 h-8 bg-teal-300 hover:bg-teal-400 hover:scale-110 justify-center items-center text-2xl rounded-full duration-200">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
            </svg>                    
          </div>
        </div>
      </div>
      <div class="flex h-1/6 text-center justify-center items-center">
        <div class="block">
          <div class="p-2 text-3xl font-bold">
            Oppenheimer
          </div>
          <div class="text-sm">
            reż. Christopher Nolan
          </div>
        </div>
      </div>
      <div class="flex h-20 justify-center items-center">
        <div class="flex md:mx-3 mx-2 md:w-8 md:h-8 w-4 h-4 hover:scale-150 hover:bg-teal-500 bg-gray-400 duration-200 rounded-full"></div>
        <div class="flex md:mx-3 mx-2 md:w-8 md:h-8 w-4 h-4 hover:scale-150 hover:bg-teal-500 bg-gray-400 duration-200 rounded-full"></div>
        <div class="flex md:mx-3 mx-2 md:w-8 md:h-8 w-4 h-4 hover:scale-150 hover:bg-teal-500 bg-gray-400 duration-200 rounded-full"></div>
        <div class="flex md:mx-3 mx-2 md:w-8 md:h-8 w-4 h-4 hover:scale-150 hover:bg-teal-500 bg-gray-400 duration-200 rounded-full"></div>
        <div class="flex md:mx-3 mx-2 md:w-8 md:h-8 w-4 h-4 hover:scale-150 hover:bg-teal-500 bg-gray-400 duration-200 rounded-full"></div>
      </div>
    </div>
    <div class="block">
      <div class="my-8 md:mr-8 bg-white rounded-xl shadow-md">
        <div class="block">
          <div class="block h-1/5 md:p-8 p-4">
            <div class="flex items-end">
              <div class="md:text-5xl text-4xl">Oppenheimer</div>
              <div class="pl-4"> 2023</div>
            </div>
            <div class="pt-8"> reż. Christopher Nolan</div>
          </div>
          <div class="h-2/5 md:p-8 p-4">Historia amerykańskiego naukowca J. Roberta Oppenheimera i jego roli w stworzeniu bomby atomowej.</div>
          <div class="block h-2/5 md:p-8 p-4">
            <div class="text-xl font-bold">Obsada</div>
            <div class="flex w-full">
              <div class="block md:w-1/6 w-2/6">
                <div class="md:p-4 p-2">            
                  <a href="#">
                    <img class="object-contain rounded-xl hover:scale-105 duration-200 shadow-md" src="../../assets/images/oppenheimer.jpg">
                  </a>
                </div>
                <div class="text-center md:text-xl text-md">Cillian Murphy</div>
              </div>
              <div class="block md:w-1/6 w-2/6">
                <div class="md:p-4 p-2">            
                  <a href="#">
                    <img class="object-contain rounded-xl hover:scale-105 duration-200 shadow-md" src="../../assets/images/oppenheimer.jpg">
                  </a>
                </div>
                <div class="text-center md:text-xl text-md">Emily Blunt</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>