<nav class="md:flex fixed w-full py-2 bg-gray-100 justify-around items-center shadow-md font-poppins">
  <div class="flex justify-around">
    <!--Logo-->
    <div class="text-3xl">Logo</div>
    <!--Mobile Menu Button-->
    <div class="md:hidden flex">
      <button (click)="toggleMobileMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8" *ngIf="!mobileMenuEnable">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8" *ngIf="mobileMenuEnable">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>           
      </button>
    </div>
  </div>
  <div class="md:flex md:w-3/4 w-full md:p-0 pt-8 pb-3 items-center" [hidden]="!mobileMenuEnable">
    <!--Search-->
    <div class="mx-5 md:w-2/5">
      <div class="flex items-center h-10 bg-white rounded-full shadow-sm">
        <div class="ml-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
          </svg>
        </div>
        <input id="search" class="mx-3 w-full focus:outline-none" type="text" placeholder="Wyszukaj filmów, lokacji...">
      </div>
    </div>
    <!--Menu-->
    <div class="md:grid block grid-cols-5 md:mx-10 gap-10 text-xl text-center">
      <div class="group">
        <a href="#">
          <div class="p-3 group-hover:text-teal-500 duration-200">Filmy</div>
          <div class="hidden md:flex w-full h-2 rounded-full bg-gray-200 group-hover:bg-teal-300 duration-200"></div>
        </a>
      </div>
      <div class="group">
        <a href="#">
          <div class="p-3 group-hover:text-teal-500 duration-200">Mapa</div>
          <div class="hidden md:flex w-full h-2 rounded-full bg-gray-200 group-hover:bg-teal-300 duration-200"></div>
        </a>
      </div>
      <div class="group">
        <a href="#">
          <div class="p-3 group-hover:text-teal-500 duration-200">Ranking</div>
          <div class="hidden md:flex w-full h-2 rounded-full bg-gray-200 group-hover:bg-teal-300 duration-200"></div>
        </a>
      </div>
      <div class="group">
        <a href="#">
          <div class="p-3 group-hover:text-teal-500 duration-200">Profil</div>
          <div class="hidden md:flex w-full h-2 rounded-full bg-gray-200 group-hover:bg-teal-300 duration-200"></div>
        </a>
      </div>
      <div class="md:flex text-lg text-center">
        <button class="p-2 bg-teal-300 hover:bg-teal-400 duration-200 rounded-lg">Zaloguj się</button>
      </div>
    </div>
  </div>
</nav>