<div class="pointer-events-none absolute md:top-0 top-[38rem] left-0 w-full h-full">
  <div class="pointer-events-auto md:w-1/5 h-full flex flex-col bg-gray-100 md:rounded-r-xl rounded-t-xl shadow-md">
    <div class="flex-none md:pt-20 p-4">
      <button routerLink="/map">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>        
      </button>
      <button routerLink="{{mediaPath}}" class="flex mx-auto w-1/3 hover:scale-[1.03] duration-200">
        <img class="object-contain rounded-xl shadow-md" src="https://image.tmdb.org/t/p/w200/{{mapDetails.poster_path}}" onerror="this.src='assets/images/media_blank.png';">
      </button>
      <div class="flex pt-4 justify-center items-center text-2xl text-center font-bold">
        {{mapDetails.name}}{{mapDetails.title}}
      </div>
      <button *ngIf="authService.isAuthenticated()" routerLink="../add" class="flex w-full h-16 mt-4 text-xl justify-center items-center hover:scale-[1.02] bg-teal-300 hover:bg-teal-400 duration-200 rounded-xl shadow-md">
        Dodaj lokacje
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" data-slot="icon" class="ml-2 w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>        
      </button>
      <button *ngIf="!authService.isAuthenticated()" routerLink="/auth" class="flex w-full h-16 mt-4 justify-center items-center hover:scale-[1.02] bg-teal-300 hover:bg-teal-400 duration-200 rounded-xl shadow-md">
        Zaloguj się aby dodać lokacje     
      </button>
    </div>
    <ul class="flex-1 overflow-y-auto">
      <li *ngIf="!mapDetails.mapData || (mapDetails.mapData && mapDetails.mapData.length <= 0)" class="text-center">
        Brak dostępnych lokacji
      </li>
      <li *ngFor="let location of mapDetails.mapData; index as i" (click)="focusOnLocation(location)" class="min-h-80 mb-4 mx-4 p-4 overflow-hidden bg-white hover:scale-[1.02] duration-200 cursor-pointer rounded-xl shadow-md ">
        <div class="flex justify-between">
          <div class="text-xl font-bold">{{location.name}}</div>
          <button *ngIf="authService.isAuthenticated() && authService.getAuthId() == location.user_id" (click)="deleteMapLocation(location._id)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
            </svg>
          </button>
        </div>
        <div class="flex justify-between">
          <div *ngIf="location.runtime != '' && location.runtime">Czas: {{location.runtime}}</div>
          <div *ngIf="location.episode != '' && location.episode">Odcinek: {{location.episode}}</div>
        </div>
        <div *ngIf="location.description != '' && location.description" class="pt-4">{{location.description}}</div>
        <button *ngIf="location.image != ''" (click)="lightboxControl(true, i)" class="flex mt-4 mx-auto">
          <img class="max-h-52 object-contain rounded-xl shadow-md" src="{{location.image}}" onerror="this.src='assets/images/media_blank.png';">
        </button>
      </li>
    </ul>
  </div>
</div>
<div *ngIf="isLightboxEnabled" class="fixed top-0 left-0 h-full w-full flex items-center bg-black bg-opacity-80">
  <button (click)="lightboxControl(false, 0)" class="absolute top-20 right-2">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-white w-16 h-16">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
    </svg>  
  </button>
  <div class="flex w-full h-2/3 justify-center">
    <img class="md:h-auto md:max-h-none max-h-52 md:my-0 my-auto object-cover rounded-xl" src="{{lightboxImage}}" onerror="this.src='assets/images/media_blank.png';">
  </div>
</div>