<div class="block md:p-8 p-4 bg-white rounded-xl shadow-md">
  <div class="md:flex block justify-between">
    <div class="md:text-4xl text-xl">Seriale</div>
    <div class="md:flex md:pt-0 pt-4 gap-4 grid grid-cols-2 items-center">
      <button (click)="highestVoteFilter()" class="px-4 md:py-2 md:text-lg text-base bg-teal-300 hover:scale-[1.03] duration-200 rounded-full shadow-md">
        Najwyżej oceniane
      </button>
      <button (click)="popularityFilter()" class="px-4 py-2 md:text-lg text-base bg-teal-300 hover:scale-[1.03] duration-200 rounded-full shadow-md">
        Popularne
      </button>
      <button (click)="upcomingFilter()" class="px-4 py-2 md:text-lg text-base bg-teal-300 hover:scale-[1.03] duration-200 rounded-full shadow-md">
        Nadchodzące
      </button>
      <button (click)="toggleFilter()" class="px-4 py-2 md:text-lg text-base bg-teal-300 hover:scale-[1.03] duration-200 rounded-full shadow-md">
        Filtry
      </button>
    </div>
  </div>
  <div *ngIf="isFilterOpen" class="pt-4">
    <div class="grid grid-cols-1 gap-4 p-4 text-sm bg-gray-100 rounded-xl shadow-md">
      <div class="block">
        <div class="text-xl">Sortuj</div>
        <div class="grid md:grid-cols-3 grid-cols-2 gap-4 pt-4">
          <button 
            (click)="setFilter('sort_by','vote_average.desc')"
            [ngClass]="tvFilter.sort_by === 'vote_average.desc' ? 'bg-teal-300' : 'bg-white'"
            class="p-2 text-sm hover:scale-[1.03] duration-200 rounded-full shadow-md">
            Oceny malejąco
          </button>
          <button 
            (click)="setFilter('sort_by','popularity.desc')"
            [ngClass]="tvFilter.sort_by === 'popularity.desc' ? 'bg-teal-300' : 'bg-white'"
            class="p-2 text-sm hover:scale-[1.03] duration-200 rounded-full shadow-md">
            Popularność malejąco
          </button>
          <button 
            (click)="setFilter('sort_by','first_air_date.desc')"
            [ngClass]="tvFilter.sort_by === 'first_air_date.desc' ? 'bg-teal-300' : 'bg-white'"
            class="p-2 text-sm hover:scale-[1.03] duration-200 rounded-full shadow-md">
            Data premiery malejąco
          </button>
          <button 
            (click)="setFilter('sort_by','vote_average.asc')"
            [ngClass]="tvFilter.sort_by === 'vote_average.asc' ? 'bg-teal-300' : 'bg-white'"
            class="p-2 text-sm hover:scale-[1.03] duration-200 rounded-full shadow-md">
            Oceny rosnąco
          </button>
          <button 
            (click)="setFilter('sort_by','popularity.asc')"
            [ngClass]="tvFilter.sort_by === 'popularity.asc' ? 'bg-teal-300' : 'bg-white'"
            class="p-2 text-sm hover:scale-[1.03] duration-200 rounded-full shadow-md">
            Popularność rosnąco
          </button>
          <button 
            (click)="setFilter('sort_by','first_air_date.asc')"
            [ngClass]="tvFilter.sort_by === 'first_air_date.asc' ? 'bg-teal-300' : 'bg-white'"
            class="p-2 text-sm hover:scale-[1.03] duration-200 rounded-full shadow-md">
            Data premiery rosnąco
          </button>
        </div>
      </div>
      <div class="grid md:grid-cols-3 gap-4 md:text-center">
        <div class="block">
          <div class="text-xl">Ocena</div>
          <div class="mx-auto mt-4 p-4 text-sm text-center bg-white rounded-xl shadow-md">
            <ngx-slider
              [(value)]="this.voteAvgRange[0]" 
              [(highValue)]="this.voteAvgRange[1]" 
              [options]="voteAvgOptions"
              (valueChange)="setFilter('vote_average.gte',this.voteAvgRange[0] * 2)" 
              (highValueChange)="setFilter('vote_average.lte',this.voteAvgRange[1] * 2)">
            </ngx-slider>
          </div>
        </div>
        <div class="block">
          <div class="text-xl">Czas trwania</div>
          <div class="mx-auto mt-4 p-4 text-sm text-center bg-white rounded-xl shadow-md">
            <ngx-slider 
              [(value)]="this.runtimeRange[0]" 
              [(highValue)]="this.runtimeRange[1]" 
              [options]="runtimeOptions"
              (valueChange)="setFilter('with_runtime.gte',this.runtimeRange[0])"
              (highValueChange)="setFilter('with_runtime.lte',this.runtimeRange[1])">
            </ngx-slider>
          </div>
        </div>
        <div class="block">
          <div class="text-xl">Minimalna ilość ocen</div>
          <div class="mx-auto mt-4 p-4 text-sm text-center bg-white rounded-xl shadow-md">
            <ngx-slider 
              [(value)]="this.voteCountRange" 
              [options]="voteCountOptions"
              (valueChange)="setFilter('vote_count.gte',this.voteCountRange)">
            </ngx-slider>
          </div>
        </div>
      </div>
      <div class="block">
        <div class="text-xl">Gatunki</div>
        <div class="grid md:grid-cols-7 grid-cols-2 pt-4 gap-4">
          <button *ngFor="let genre of tvGenres"
          (click)="setGenre(genre.id)"
          [ngClass]="tvGeneresFilter.has(genre.id) ? 'bg-teal-300' : 'bg-white'"
          class="p-2 text-sm hover:scale-[1.03] duration-200 rounded-full shadow-md">
          {{genre.name}}
        </button>
        </div>
      </div>
      <div class="block">
        <div class="text-xl">Dekada</div>
        <div class="grid md:grid-cols-8 grid-cols-2 pt-4 gap-4">
            <button (click)="setDecade(0)"
            [ngClass]="selectedDecade == 0 ? 'bg-teal-300' : 'bg-white'"
            class="p-2 text-sm hover:scale-[1.03] duration-200 rounded-full shadow-md">
            Dowolna
          </button>
          <button *ngFor="let decade of tvDecadeFilter"
            (click)="setDecade(decade)"
            [ngClass]="selectedDecade == decade ? 'bg-teal-300' : 'bg-white'"
            class="p-2 text-sm hover:scale-[1.03] duration-200 rounded-full shadow-md">
            {{decade}}
          </button>
        </div>
      </div>
      <button (click)="applyFilter()" class="flex md:w-1/3 w-full mx-auto mt-4 p-4 justify-center md:text-xl text-lg hover:scale-[1.03] duration-200 bg-teal-300 rounded-xl shadow-md">
        Zastosuj
      </button>
    </div>
  </div>
  <div *ngIf="tvData.results.length <= 0" class="md:my-8 my-4 md:p-4 p-2 text-lg text-center bg-gray-100 rounded-xl shadow-md">
    Brak wyników wyszukiwania
  </div>
  <div *ngIf="tvData.results.length > 0" class="md:my-8 my-4 md:p-4 p-2 text-lg text-center bg-gray-100 rounded-xl shadow-md">
    Znaleziono {{tvData.total_results}} pozycji
  </div>
  <div infinite-scroll [infiniteScrollDistance]="2"[infiniteScrollThrottle]="500" (scrolled)="loadData()" class="grid md:grid-cols-5 grid-cols-2 md:gap-8 gap-4">
    <div *ngFor="let tv of tvData.results" class="block bg-gray-100 hover:scale-[1.03] duration-200 rounded-xl shadow-md">
      <button routerLink="/tv/{{tv.id}}">
          <img class="w-72 rounded-t-xl" src="https://image.tmdb.org/t/p/w200/{{tv.poster_path}}" onerror="this.src='assets/images/media_blank.png';">   
          <div class="relative text-center text-sm pt-2">
          <div class="text-base h-16 font-bold line-clamp-2">{{tv.name}}</div>
          <div *ngIf="tv.vote_average > 0"class="flex justify-center items-center">
            <div class="md:text-base text-xs font-bold" >
              {{tv.vote_average}}
            </div>
            <div class="pl-1">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="md:w-8 md:h-8 w-6 h-6 text-yellow-400">
                <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z" clip-rule="evenodd" />
              </svg>
            </div>
          </div>
          <div class="py-2 truncate">{{tv.first_air_date | date: 'd.MM.y'}}</div>
        </div>
      </button>
    </div>
  </div>
</div>