<div id="popup" class="w-56 h-80 p-2 bg-white rounded-xl shadow-md">
  <div class="flex justify-end">
    <button id="popup-closer" >
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>
    </button>   
  </div>
 <div class="flex justify-center">
  <button routerLink="/movie/346698">
    <img class="object-contain mx-auto w-20 rounded-xl hover:scale-105 duration-200 shadow-md" src="assets/images/barbie.jpg">
  </button>
 </div>
  <div class="flex justify-center items-center text-xl font-bold">
    Barbie
  </div>
  <div>
    Nazwa
  </div>
  <div>
    Opis
  </div>
  <div>
    Szczegóły
  </div>
  <div id="popup-content"></div>
</div>